*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(230, 226, 226);
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(231, 226, 226);
    box-shadow: 0 0 .5rem rgb(214, 204, 204);
    outline: none;
    border-radius: 10px;
    padding: 2rem;
}
a{
    text-decoration: none;
    color: blue;
    font-family: verdana;
    font-size: 20px;
    font-weight: 600;
}
#back{
    background-color: rgb(199, 201, 202);
    padding: .5rem;
    border-radius: 20px;
    margin: 1rem;
    width: 100%;
    border: 2px solid aqua;
    transition: .5s;
}
#back:hover{
    background-color: rgb(43, 17, 139);
}
#back:hover{
    color: aqua;
}
h1{
    color: #500a30;
    font-size: 3rem;
    text-shadow: 0 0 2px black;
}
#logo img{
    width: 6rem;
    margin-left: 1rem;
    transition: .3s ease;
}
.logo{
    overflow: hidden;
    
}
.logo:hover img{
    transform: scale(1.5);
}
#logo span{
    margin-right: 1rem;
    color: rgb(24, 15, 102);
    font-weight: 600;
    font-family: sans-serif;
    font-style: italic;
}
#logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}
#logo:last-child{
    margin-left: 2rem;
}
#logo i{
    font-size: 20px;
    transition: .3s;
}
#face i{
    margin: auto 1.3rem;
    border: 1.5px solid rgb(28, 3, 173);
    border-radius: 20%;
    padding: 1.2px;
    box-shadow: 0 0 3px black;
}
#face:hover i{
    transform: scale(1.1);
    background-color: rgb(28, 3, 173);
    color: #fff;
}
#wa i{
    border: 1.5px solid rgb(77, 199, 7);
    border-radius: 20%;
    padding: 1.2px;
    box-shadow: 0 0 3px black;
    color: rgb(77, 199, 7);
}
#wa:hover i{
    transform: scale(1.1);
    background-color: rgb(77, 199, 7);
    color: #fff;
}
.mail{
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
}
.mail #support-email{
    color: #888282;
    font-size: 15px;
    font-family: sans-serif;
}