#theme-change{
    height: 100px;
    position: fixed;
    z-index: 1000;
    padding: 3px;
    top: 10%;
    width: fit-content;
    height: fit-content;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 15px;
    transition: .2s ease-in-out;
    }
    #mode{
        border-radius: 50%;
        padding: 3px;
        font-size: 30px;
        transition: .2s ease-in-out;
    }
    .mode{
        transition: .3s ease-in-out;
        box-shadow: 0 0 1.5rem black;
        background-color: aqua;
    }
    #theme-change span{
        font-weight: 500;
        transition: .2s ease-in-out;
    }
    .bg-theme{
        background-color: #f5f5f5;
        transition: .2s ease-in-out;
    }
    .txt-theme{
        color: #f5f5f5;
        transition: .2s ease-in-out;
    }
    .body-theme{
        background: #fff;
        color: #000;
        transition: .2s ease-in-out;
    }
    .well-msg h2{
        color: #f5f5f5;
        transition: .2s ease-in-out;
    }
    .well-msg span{
        color: darkturquoise;
        transition: .2s ease-in-out;
    }
    .header-theme{
        background-color: darkturquoise;
        opacity: .9;
        color: #f5f5f5;
        transition: .4s ease-in-out;
    }
    .header-theme .logo span{
        background: none;
        color: #000;
    }
    .header-theme ul li a{
        color: #f5f5f5;
        transition: .2s ease-in-out;
    }
    .header-theme span{
        background-color: black;
        transition: .2s ease-in-out;
    }
    .word-theme span{
        color: darkturquoise;
        transition: .2s ease-in-out;
    }
    .about-theme{
        background-color: #fff;
        transition: .2s ease-in-out;
    }
    .about-theme p{
        color: #000;
        font-weight: 500;
        transition: .2s ease-in-out;
    }
    .about-theme span{
        color: #000;
        font-weight: 500;
        transition: .2s ease-in-out;
    }
    .about-theme h2{
        color: darkturquoise;
        transition: .2s ease-in-out;
    }
    .about-theme .info-a{
        background: #fff;
        box-shadow: 0 0 .5rem aqua;
        border: 2px solid aqua;
        transition: .2s ease-in-out;
    }
    .btn-theme .btn{
        background-color: darkturquoise;
        color: #fff;
        box-shadow: 0 0 .5rem aqua;
        transition: .2s ease-in-out;
    }
    .btn-theme .btn:hover{
        color: black;
    }
    .btn-theme .btn::before{
        background: white;
        border: 2px solid #12f7ff;
    }
    .btn-theme .btn:hover::before{
        width: 100%;
    }
    .btn-theme .btn:nth-child(2){
        background: #f5f5f5;
        color: #000;
    }
    .btn-theme .btn:nth-child(2):hover{
        color: #fff;
    }
    .btn-theme .btn:nth-child(2)::before{
        background: darkturquoise;
    }
    .social-theme a{
        background-color: #f5f5f5;
        box-shadow: 0 0 .5rem #12f7ff;
        border: 2px solid #12f7ff;
        color: black;
        transition: .2s ease-in-out;
    }
    .subscriber-theme{
        background-color: black;
        transition: .2s ease-in-out;
    }
    .subscriber-theme .news-letter-main-text h2{
        color: #12f7ff;
        transition: .2s ease-in-out;
    }
    .subscriber-theme .news-letter-main-text p{
        color: #000;
        font-weight: 700;
        transition: .4s ease-in-out;
    }
    .subscriber-theme .in{
        box-shadow: 0 0 .5px black;
    }
    .subscriber-theme .news-form-btn .btn-form{
        background-color: #12f7ff;
        border-radius: 10%;
    }
    .subscriber-theme .news-form-btn .btn-form input{
        color: #fff;
        transition: .5s;
    }
    .subscriber-theme .news-form-btn .btn-form:hover{
        background: #fff;
        color: black;
    }
    .subscriber-theme .news-form-btn .btn-form:hover input{
        background: #fff;
        color: black;
    }
    .skills-theme{
        background-color: #f5f5f5;
        transition: .2s ease-in-out;
    }
    .skills-theme .main-text span{
        color: #000;
        font-weight: 500;
        transition: .2s ease-in-out;
    }
    .skills-theme .main-text h2{
        color: #12f7ff;
        transition: .2s ease-in-out;
    }
    .skill-bar-theme .bar span{
        background-color: #12f7ff;
        box-shadow: 0 0 .5rem black;
        transition: .2s ease-in-out;
    }
    .skill-bar-theme .bar{
        background-color: #12f7ff;
        transition: .2s ease-in-out;
    }
    .skills-theme .skill-main .skill-left .skillbox,
    .skills-theme .skill-main .skill-right .skillbox{
        border: 3px solid black;
        transition: .2s ease-in-out;
    }
    .skills-theme .skill-main .skill-left .skillbox .bar,
    .skills-theme .skill-main .skill-right .skillbox .bar{
        background-color: rgb(190, 188, 188);
        transition: .2s ease-in-out;
    }
    .info-theme p{
        color: #000;
        font-weight: 700;
        transition: .2s ease-in-out;
    }
    .bar-theme span{
        background-color: darkturquoise;
        transition: .2s ease-in-out;
    }
    .navlist-theme a{
        color: #000;
        transition: .4s ease-in-out;
    }
    .navlist-theme a:hover{
        font-weight: 500;
        color: #000;
        text-shadow: 0 0 10px rgb(76, 76, 216),
        0 0 20px rgb(76, 76, 216),
        0 0 30px rgb(76, 76, 216),
        0 0 40px rgb(76, 76, 216),
        0 0 70px rgb(76, 76, 216),
        0 0 80px rgb(76, 76, 216),
        0 0 100px rgb(76, 76, 216),
        0 0 150px rgb(76, 76, 216);
        transition: .5s ease-in-out;
    }
    .span-theme{
        color: darkturquoise;
        transition: .4s ease-in-out;
    }

    .service-box-theme .service-box{
        background: #f5f5f5;
        transition: .2s ease-in-out;
    }
    .service-box-theme .service-box .service-icon{
        color: darkturquoise;
        border: 2px solid darkturquoise;
        box-shadow: 0 0 .5rem darkturquoise;
        background-color: floralwhite;
        transition: .2s ease-in-out;
    }
    .service-box-theme .service-box p{
        color: #000;
        font-weight: 500;
        transition: .2s ease-in-out;
    }
    .service-theme .main-text h2{
        color: darkturquoise;
    }
    .portfolio-theme{
        background-color: #fff;
    }
    .portfolio-theme .main-text span{
        color: black;
    }
    .portfolio-theme .main-text h2{
        color: #12f7ff;
        transition: .2s ease-in-out;
    }
    .portfolio-theme .container .fillter-buttons .btn{
        color: black;
    }
    .portfolio-theme .container .portfolio-gallery .port-box{
        box-shadow: 0 0 .5rem black;
        border: 2px solid #12f7ff;
        transition: .2s ease-in-out;
    }
    .portfolio-theme .container .portfolio-gallery .port-box .port-content{
        background: linear-gradient(rgba(0, 0, 0, .2), black);
        transition: .2s ease-in-out;
    }
    .portfolio-theme .container .portfolio-gallery .port-box .port-content h3, p{
        color: #f5f5f5;
        transition: .2s ease-in-out;
    }
    .portfolio-theme .container .portfolio-gallery .port-box .port-content a{
        border: 2px solid darkblue;
        color: darkblue;
        transition: .2s ease-in-out;
    }
    .ourteam-theme{
        background-color: #f5f5f5;
        transition: .2s ease-in-out;
    }
    .ourteam-theme h2{
        color: darkturquoise;
        transition: .4s ease-in-out;
    }
    .ourteam-theme .main-text span{
        color: #000;
        font-weight: 500;
        transition: .2s ease-in-out;
    }
    .ourteam-theme #person-box::after{
        background: linear-gradient(rgba(0, 0, 0, 0.3), black);
        transition: .2s ease-in-out;
    }
    .ourteam-theme #person-box .team-details{
        background-color: #f5f5f5;
        box-shadow: 0 0 .5rem darkturquoise;
        border: 2px solid darkturquoise;
        transition: .2s ease-in-out;
    }
    .ourteam-theme #person-box .team-details p{
        color: #000;
        transition: .2s ease-in-out;
    }
    .ourteam-theme #person-box .team-details h4{
        background-color: black;
        color: #f5f5f5;
        transition: .2s ease-in-out;
    }
    .ourteam-theme #teamslider-box{
        opacity: .8;
    }
    .testimonies-theme h2{
        color: darkturquoise;
        transition: .2s ease-in-out;
    }
    .testimonies-theme{
        background: #fff;
    }
    .testimonies-theme .main-text span{
        color: black;
    }
    .testimonies-theme .peoples-view{
        background-color: rgba(245, 248, 250, 0.35);
        transition: .2s ease-in-out;
    }
    .testimonies-theme .peoples-view h3{
        color: darkturquoise;
        transition: .2s ease-in-out;
        letter-spacing: 1px;
    }
    .testimonies-theme .peoples-view p{
        color: black;
        transition: .2s ease-in-out;
    }
    .testimonies-theme .peoples-view .human-icon .bxs-user{
        background-color: #f5f5f5;
        box-shadow: 0 0 .5rem darkturquoise;
        border: 2px solid darkturquoise;
        transition: .2s ease-in-out;
    }
    .contact-theme{
        background-color: #f5f5f2;
        transition: 1s ease-in-out;
    }
    .contact-theme h2{
        color: darkturquoise;
        transition: .4s ease-in-out;
    }
    .contact-theme span{
        color: #000;
        font-weight: 500;
        transition: .4s ease-in-out;
    }
    .contact-theme .c-theme input{
        transition: .4s ease-in-out;
        background: linear-gradient(darkturquoise, #12f7ff);
        opacity: .7;
        color: #fff;
    }
    .contact-theme #t-area{
        background: linear-gradient(darkturquoise, #12f7ff); 
    }